<!-- footer -->
<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6" id="footer-content">
                <ul>
                    <li><i class="fas fa-map-marker-alt"> </i>
                        <span> <a href="https://goo.gl/maps/V4oh4FAjNtLAaMNi7"> 1135 S Beverly Dr
                                Los Angeles, CA 90035</a>
                        </span>
                    </li>
                    <li> <i class="material-icons">phone_forwarded</i><span><a href="tel:3103654865">310 365
                                4865</a></span>
                    </li>
                    <li> <i class="material-icons">email</i><span>
                            <a href="mailto:trnrtim@aol.com">trnrtim@aol.com</a>
                        </span>
                    </li>
                </ul>
                <div>
                    <a href="https://www.facebook.com/trainertimgreen/"><i class="fab fa-facebook-square"></i></i></a>
                    <a href="https://twitter.com/trainertim59"> <i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.youtube.com/user/TrnrTim"> <i class="fab fa-youtube-square"></i></a>
                </div>
            </div>



            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.502757922746!2d-118.39882758478483!3d34.05662408060485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bbe3b87c5701%3A0x92501b98f73ea8c!2s1135+S+Beverly+Dr%2C+Los+Angeles%2C+CA+90035!5e0!3m2!1sen!2sus!4v1562721530780!5m2!1sen!2sus"
                width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container center-align">&copy; 2019 The Healing Arts Center</div>
    </div>
</footer>