<!-- navbar -->

<div class="navbar-fixed">
    <nav class="nav-wrapper">
        <a href="/" class="brand-logo">The Healing Arts Center</a>
        <a href="/" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/team/">Our Team</a></li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/appointment/" class="waves-effect waves-light btn appointment">Make Appointment</a>
            </li>
            <li><a href="/contact/">Contact Us</a></li>
        </ul>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About Us</a></li>
    <li><a href="/team/">Our Team</a></li>
    <li><a href="/services/">Services</a></li>
    <li><a href="/appointment/" class="waves-effect waves-light btn">Make Appointment</a></li>
    <li><a href="/contact/">Contact Us</a></li>
</ul>

<!-- navbar ends -->