<body id="admin-body" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {{!-- <h2 class="brand-heading">Create peace of mind</h2>
                        <h2>Learn more</h2>
                        <h3><a class="page-scroll" data-toggle="modal" data-target="#login-modal">Sign Up</a> for free
                            and you get:</h3>
                        <ul class="positives_list">
                            <li>Streaming updates on security status using a variety of different factors.</li>
                            <li>Locations of active safe zones and hospitals, police, and more</li>
                            <li>Highly customized for each, specific region using security data for the locations you'll
                                be traveling to.</li>
                        </ul>
                        </ul> --}}
                        {{!-- <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> --}}
                    </div>
                </div>
            </div>
        </div>
    </header>