{{> nav-customer }}
<!-- menu -->
<div class="row" id="menu">

    <div class="col s6 m6 l3">
        <h4>Meditation</h4><img src="assets/img//adrian-motroc-DhIarbBYCWU-unsplash.jpg" alt="">
    </div>
    <div class="col s6 m6 l3">
        <h4>Healing</h4><img src="assets/img/darius-bashar-xMNel_otvWs-unsplash.jpg" alt="">
    </div>
    <div class="col s6 m6 l3">
        <h4>Massage</h4><img src="assets/img/female-relaxing-at-spa.jpg" alt="">
    </div>
    <div class="col s6 m6 l2">
        <h4>Rehabilitation</h4><img src="assets/img/toa-heftiba-a9pFSC8dTlo-unsplash.jpg" alt="">
    </div>
</div>

<section id="about">
    <div class="row">
        <div class="col s12 m6">
            <div class="center-align">
                <h5 class="indigo-text text-darken-4">Welcome to The Healing Arts Center</h5>
                <h6>Beverly Hills</h6>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col s12 m5" id="massage-benefits">
            <h5 class="center-align">Benefits of Massage</h5>
            <ol>
                <li>Reduce Stress</li>
                <li>Improve Circulation</li>
                <li>Reduce Pain</li>
                <li>Eliminate Toxins</li>
                <li>Reduce Fatique</li>
                <li>Enhance Immunity</li>
                <li>Speeds Healing</li>
                <li>Joint Mobilization</li>
            </ol>
        </div>
    </div>
</section>


{{>footer}}