{{> nav-customer }}

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <h3>Our Team</h3>
        <img src="/assets/img/balance.jpg" alt="" class="responsive-img">
    </div>
    <div class="row about-team">
        <div class="col s12 l6">
            <div class="team-member">
                <img src="/assets/img/Tim.jpg" class="responsive-img materialboxed"><span>
                    <h5>Tim Green</h5>
                </span>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text
                    of
                    the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    ever
                    since the 1500s, when an unknown printer took a galley</p>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="team-member">
                <img src="/assets/img/Mayadah.jpg" class="responsive-img materialboxed"><span>
                    <h5>Mayadah Moussa</h5>
                </span>

                <p>Mayadah Moussa is a Master Energist of the esoteric arts. She is an extra sensory
                    practitioner that utilizes her unique abilities to determine the root causes of
                    illnesses,
                    issues, patterns, and blocks of all kinds.</p>
                Her customized style of treatment has proven to be extremely effective in transforming a
                wide range of conditions.
                <p> Please contact directly to schedule a free consultation to determine if you are a
                    candidate.
                    Rate per hour 160.00</p>
            </div>
        </div>
    </div>
</div>

{{>footer}}